<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    @* Package Stylesheets *@
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/light.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/regular.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/duotone.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/solid.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/brands.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/sharp-light.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/sharp-regular.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/sharp-duotone.min.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/font-awesome/css/sharp-solid.min.css" />

    @* Radzen Stylesheets *@
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">

    @* TrakHound Stylesheets *@
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/trakhound/trakhound.css" />
    <link rel="stylesheet" href="_content/TrakHound.Blazor.Hosting/css/trakhound/trakhound-light.css" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SHARC.App.styles.css" />
    <HeadOutlet />
</head>

<body>
    <DebugRoutes />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
