@inherits TrakHoundComponentBase

<div class="header-panel">
    <div class="header-panel-container">
        <div class="header-logo-container">
            <img class="header-logo" src="@GetLocation("img/sharc-logo.jpg")" />
        </div>
        <div class="header-title-container">
            <span class="header-title"><b>SHARC</b></span>
            <span class="header-subtitle">View &amp; Manage SHARC Sensors</span>
        </div>
    </div>
</div>
