.app-page {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
    overflow: hidden;
}

.app-page-header {
    grid-row: 1;
}

.app-page-content {
    grid-row: 2;
    height: 100%;
    overflow: hidden;
}

    .app-page-content ::deep .page {
        height: 100%;
        overflow: hidden;
    }