.page {
    display: grid;
    grid-template-rows: max-content max-content max-content 1fr;
}

.breadcrumb-panel {
    grid-row: 1;
}

.toolbar-panel {
    grid-row: 2;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
}

.toolbar-panel {
    grid-row: 2;
}

.status-panel {
    grid-row: 3;
}

.content-panel {
    grid-row: 4;
    padding: 10px;
    height: 100%;
    overflow: hidden;
}

.chart-panel {
    padding: 0 10px 20px 0;
    height: 100%;
    overflow: hidden;
}

.chart-panel ::deep .rz-chart {
    height: 100%;
}

.table-panel {
    height: 100%;
    overflow: hidden;
}

.table-panel ::deep .rz-data-grid {
    height: 100%;
    overflow: hidden;
}