.sensors-sidebar {
    grid-column: 1;
    border-right: 1px solid var(--borderColor);
    background: var(--panelSidebarBackground);
    height: 100%;
    overflow: hidden;
}

    .sensors-sidebar ::deep .btn-navigation {
        display: block;
        height: 65px;
        width: 65px;
        border: none;
        border-bottom: 1px solid var(--borderColorLight);
        border-radius: 0;
        padding: 0;
        padding-top: 12px;
    }

        .sensors-sidebar ::deep .btn-navigation.active {
            background: #2870bd;
        }

        .sensors-sidebar ::deep .btn-navigation:focus {
            box-shadow: none;
        }

        .sensors-sidebar ::deep .btn-navigation .icon {
            display: block;
            font-size: 18px;
            margin: 0;
            margin-bottom: 6px;
        }

        .sensors-sidebar ::deep .btn-navigation .text {
            display: block;
            font-size: 11px;
            margin: 0;
        }
